.background {
  height: 64px;
  width: 1500px;
  position: relative;
  background-color: var(--color-black);
  display: none;
  max-width: 100%;
}
.biography {
  text-decoration: none;
  align-self: stretch;
  position: relative;
  font-weight: 500;
  color: inherit;
  cursor: pointer;
  z-index: 1;
}
.biography-wrapper {
  width: 223.6px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0 0 var(--padding-8xs);
  box-sizing: border-box;
}
.tribute-page1 {
  text-decoration: none;
  width: 243.6px;
  position: relative;
  font-size: 24px;
  font-weight: 500;
  color: inherit;
  align-items: center;
  white-space: nowrap;
  z-index: 1;
}
.filmography,
.main,
.tribute-page1 {
  display: flex;
  flex-shrink: 0;
}
.filmography {
  text-decoration: none;
  width: 220.4px;
  position: relative;
  font-weight: 500;
  color: inherit;
  align-items: center;
  cursor: pointer;
  z-index: 1;
}
.main {
  align-self: stretch;
  background-color: var(--color-black);
  flex-direction: row;
  align-items: flex-end;
  justify-content: center;
  padding: 17px var(--padding-xl) 16px;
  box-sizing: border-box;
  gap: 62.2px;
  debug_commit: bf4bc93;
  top: 0;
  z-index: 99;
  position: sticky;
  max-width: 100%;
  text-align: left;
  font-size: var(--font-size-lg);
  color: var(--color-whitesmoke);
  font-family: var(--font-dm-mono);
}
.image-6-icon {
  position: absolute;
  height: calc(100% - 17px);
  top: 10px;
  right: 0;
  bottom: 7px;
  max-height: 100%;
  width: 639px;
  object-fit: cover;
}
.background-image1 {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(29, 30, 38, 0.7);
  z-index: 1;
}
.i-am-not,
.shushant-singh-rajput {
  margin: 0;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 3;
}
.i-am-not {
  top: 479.7px;
  left: 12.6px;
  font-size: inherit;
  font-weight: 400;
  font-family: inherit;
  width: 853.8px;
  height: 89px;
}
.shushant-singh-rajput {
  top: 371px;
  left: 0;
  font-size: 63px;
  font-weight: 500;
  font-family: var(--font-dm-mono);
  width: 879px;
  height: 82px;
  text-shadow: -2px 2px 0#1d1e26;
}
.background-image {
  height: 940px;
  flex: 1;
  position: relative;
  flex-shrink: 0;
  debug_commit: bf4bc93;
  max-width: 100%;
  z-index: 2;
  text-align: center;
  font-size: 35px;
  color: var(--color-whitesmoke);
  font-family: var(--font-roboto-mono);
}
.background-image-wrapper {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 0 6px;
  box-sizing: border-box;
  max-width: 100%;
  margin-top: -13px;
}
.biography-child {
  width: 1503px;
  height: 3px;
  position: relative;
  border-top: 3px solid var(--color-whitesmoke);
  box-sizing: border-box;
  display: none;
  max-width: 100%;
  z-index: 0;
}
.biography-item {
  width: 100%;
  height: 100%;
  position: absolute;
  margin: 0 !important;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: var(--color-black);
}
.biography-container,
.biography2 {
  display: flex;
  justify-content: center;
}
.biography2 {
  margin: 0;
  height: 131.6px;
  width: 313.6px;
  position: relative;
  font-size: inherit;
  font-weight: 500;
  font-family: inherit;
  align-items: center;
  flex-shrink: 0;
  z-index: 1;
}
.biography-container {
  width: 1219.6px;
  flex-direction: row;
  align-items: flex-start;
  max-width: 100%;
}
.image-7-icon,
.sushant-singh-rajput {
  position: relative;
  max-width: 100%;
  z-index: 1;
}
.sushant-singh-rajput {
  margin: 0;
  height: 681.6px;
  flex: 1;
  font-weight: 500;
  display: flex;
  align-items: center;
  min-width: 513px;
}
.image-7-icon {
  align-self: stretch;
  height: 419.5px;
  overflow: hidden;
  flex-shrink: 0;
  object-fit: cover;
}
.image-7-wrapper {
  height: 547.9px;
  width: 449px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  min-width: 449px;
  max-width: 100%;
}
.sushant-singh-rajput-was-born-parent {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: center;
  gap: 54px;
  max-width: 100%;
  text-align: justify;
  font-size: var(--font-size-9xl);
  color: var(--color-whitesmoke);
}
.biography1 {
  padding: 0 67px 137.8px 140px;
  box-sizing: border-box;
  position: relative;
  gap: 146px;
  flex-shrink: 0;
  debug_commit: bf4bc93;
  z-index: 1;
  margin-top: -13px;
  text-align: center;
  font-size: var(--font-size-29xl);
  color: var(--color-white);
  font-family: var(--font-dm-mono);
}
.biography1,
.main-parent {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.discography-child {
  width: 100%;
  height: 100%;
  position: absolute;
  margin: 0 !important;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: var(--color-black);
}
.filmography-wrapper,
.filmography1 {
  display: flex;
  justify-content: center;
  max-width: 100%;
}
.filmography1 {
  margin: 0;
  height: 115.7px;
  width: 396px;
  position: relative;
  font-size: inherit;
  font-weight: 500;
  font-family: inherit;
  align-items: center;
  flex-shrink: 0;
  z-index: 1;
}
.filmography-wrapper {
  width: 1234px;
  flex-direction: row;
  align-items: flex-start;
}
.image-8-icon {
  height: 205.2px;
  width: 164.4px;
  position: relative;
  border-radius: 23px;
  object-fit: cover;
}
.blank-line,
.blank-line1,
.blank-line2,
.dil-bechara,
.immanuel-rajkumar-junior,
.span,
.span1 {
  display: block;
}
.dil-bechara-container {
  margin: 0;
  align-self: stretch;
  height: 146.3px;
  position: relative;
  font-weight: 500;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.dil-bechara-83-immanuel-raj-wrapper {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 27.5px 0 0;
  box-sizing: border-box;
  min-width: 166px;
}
.frame-child,
.image-8-parent {
  align-self: stretch;
  border-radius: var(--br-5xl);
  border: 3px solid var(--color-white);
  box-sizing: border-box;
  max-width: 100%;
}
.frame-child {
  width: 529.2px;
  position: relative;
  display: none;
}
.image-8-parent {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 30px 0 0;
  gap: 73.9px;
  flex-shrink: 0;
  debug_commit: bf4bc93;
  z-index: 1;
}
.image-11-icon {
  height: 205px;
  width: 173px;
  position: relative;
  border-radius: 18px;
  object-fit: cover;
}
.blank-line3,
.blank-line4,
.blank-line5,
.m-s-dhoni,
.ms-dhoni-the,
.p,
.p1 {
  margin: 0;
}
.ms-dhoni-the-container {
  align-self: stretch;
  height: 146.3px;
  position: relative;
  font-weight: 500;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.ms-dhoni-the-untold-story-wrapper {
  width: 216.1px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0 0 25.8px;
  box-sizing: border-box;
  min-width: 216.1px;
}
.frame-item {
  align-self: stretch;
  width: 529.2px;
  position: relative;
  border-radius: var(--br-5xl);
  border: 3px solid var(--color-white);
  box-sizing: border-box;
  display: none;
  max-width: 100%;
}
.frame-group,
.image-11-parent {
  display: flex;
  justify-content: flex-start;
  flex-shrink: 0;
  debug_commit: bf4bc93;
  max-width: 100%;
}
.image-11-parent {
  align-self: stretch;
  border-radius: var(--br-5xl);
  border: 3px solid var(--color-white);
  box-sizing: border-box;
  flex-direction: row;
  align-items: flex-end;
  padding: 0.4px 0 0;
  gap: 61px;
  z-index: 1;
}
.frame-group {
  width: 529.6px;
  flex-direction: column;
  align-items: flex-start;
  gap: var(--gap-86xl-8);
  min-width: 529.6px;
}
.image-10-icon {
  height: 203.3px;
  width: 160.7px;
  position: relative;
  border-radius: 26px;
  object-fit: cover;
}
.blank-line6,
.blank-line7,
.blank-line8,
.ishaan-bhatt,
.kai-po-che,
.span2,
.span3 {
  display: block;
}
.kai-po-che-container {
  margin: 0;
  align-self: stretch;
  position: relative;
  font-weight: 500;
}
.kai-po-che-78-ishaan-bhatt-wrapper {
  width: 161px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 24.1px 0 0;
  box-sizing: border-box;
}
.frame-inner,
.image-10-parent {
  height: 205.2px;
  border-radius: var(--br-5xl);
  border: 3px solid var(--color-white);
  box-sizing: border-box;
  max-width: 100%;
}
.frame-inner {
  width: 529.2px;
  position: relative;
  display: none;
}
.image-10-parent {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 1.9px 0 33.2px;
  gap: var(--gap-42xl-3);
  flex-shrink: 0;
  debug_commit: bf4bc93;
  z-index: 1;
}
.image-9-icon {
  height: 200.4px;
  width: 160.7px;
  position: relative;
  border-radius: 22px;
  object-fit: cover;
}
.blank-line10,
.blank-line11,
.blank-line9,
.byomkesh-bakshy,
.detective-byomkesh-bakshy,
.span4,
.span5 {
  display: block;
}
.detective-byomkesh-bakshy-container {
  margin: 0;
  align-self: stretch;
  position: relative;
  font-weight: 500;
}
.detective-byomkesh-bakshy-7-wrapper {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 27px 0 0;
  box-sizing: border-box;
  min-width: 193px;
}
.image-9-parent,
.rectangle-div {
  border-radius: var(--br-5xl);
  border: 3px solid var(--color-white);
  box-sizing: border-box;
}
.rectangle-div {
  height: 205.2px;
  width: 529.2px;
  position: relative;
  display: none;
  max-width: 100%;
}
.image-9-parent {
  align-self: stretch;
  flex-direction: row;
  justify-content: flex-start;
  padding: 0 var(--padding-8xs) 1px 0;
  gap: var(--gap-42xl-3);
  flex-shrink: 0;
  debug_commit: bf4bc93;
  z-index: 1;
}
.frame-container,
.frame-parent,
.image-9-parent {
  display: flex;
  align-items: flex-start;
  max-width: 100%;
}
.frame-container {
  width: 529.2px;
  flex-direction: column;
  justify-content: flex-start;
  gap: var(--gap-86xl-8);
  min-width: 529.6px;
  flex-shrink: 0;
  debug_commit: bf4bc93;
}
.frame-parent {
  align-self: stretch;
  flex-direction: row;
  justify-content: space-between;
  gap: 20px;
  z-index: 1;
  text-align: left;
  font-size: var(--font-size-lg);
}
.background1,
.discography {
  position: relative;
  max-width: 100%;
}
.discography {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 117px 329.4px;
  box-sizing: border-box;
  gap: 213.3px;
}
.background1 {
  height: 64px;
  width: 1500px;
  background-color: var(--color-white);
  display: none;
}
.footer,
.tribute-page2 {
  display: flex;
  max-width: 100%;
}
.tribute-page2 {
  width: 538px;
  position: relative;
  font-weight: 500;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  z-index: 1;
}
.footer {
  align-self: stretch;
  background-color: var(--color-white);
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-end;
  padding: var(--padding-xl) 412px 21px;
  box-sizing: border-box;
  z-index: 2;
  margin-top: -16.8px;
  text-align: center;
  font-size: var(--font-size-lg);
  color: #1d1e26;
  font-family: var(--font-dm-mono);
}
.discography-parent,
.tribute-page {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.discography-parent {
  align-self: stretch;
  max-width: 100%;
  text-align: center;
  font-size: var(--font-size-29xl);
  color: var(--color-white);
  font-family: var(--font-dm-mono);
}
.tribute-page {
  width: 100%;
  position: relative;
  line-height: normal;
  letter-spacing: normal;
}
@media screen and (max-width: 1325px) {
  .image-7-icon {
    align-self: stretch;
    width: auto;
  }
  .image-7-wrapper {
    flex: 1;
  }
  .sushant-singh-rajput-was-born-parent {
    flex-wrap: wrap;
  }
  .frame-container,
  .frame-group {
    flex: 1;
  }
  .frame-parent {
    flex-wrap: wrap;
    justify-content: center;
  }
  .discography {
    padding-bottom: 214px;
    box-sizing: border-box;
  }
  .footer {
    padding-left: var(--padding-187xl);
    padding-right: var(--padding-187xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 1125px) {
  .main {
    gap: var(--gap-12xl);
  }
  .biography1 {
    padding-bottom: 90px;
    box-sizing: border-box;
  }
  .frame-container,
  .frame-group {
    min-width: 100%;
  }
}
@media screen and (max-width: 800px) {
  .i-am-not {
    font-size: var(--font-size-9xl);
  }
  .shushant-singh-rajput {
    font-size: 50px;
  }
  .biography2 {
    font-size: var(--font-size-19xl);
  }
  .image-7-wrapper,
  .sushant-singh-rajput {
    min-width: 100%;
  }
  .sushant-singh-rajput-was-born-parent {
    gap: 27px;
  }
  .biography1 {
    gap: 73px;
    padding-left: 70px;
    padding-right: 33px;
    padding-bottom: var(--padding-39xl);
    box-sizing: border-box;
  }
  .filmography1 {
    font-size: var(--font-size-19xl);
  }
  .image-8-icon {
    flex: 1;
  }
  .image-8-parent {
    flex-wrap: wrap;
    gap: 37px;
    padding: var(--padding-xl);
    box-sizing: border-box;
  }
  .image-11-icon,
  .ms-dhoni-the-untold-story-wrapper {
    flex: 1;
  }
  .image-11-parent {
    flex-wrap: wrap;
  }
  .frame-group {
    gap: var(--gap-34xl);
  }
  .image-9-icon {
    flex: 1;
  }
  .image-9-parent {
    flex-wrap: wrap;
    gap: var(--gap-12xl);
    padding-left: var(--padding-8xs);
    padding-top: var(--padding-8xs);
    box-sizing: border-box;
  }
  .frame-container {
    gap: var(--gap-34xl);
  }
  .discography {
    gap: 107px;
    padding-left: var(--padding-39xl);
    padding-right: var(--padding-39xl);
    padding-bottom: 139px;
    box-sizing: border-box;
  }
  .footer {
    padding-left: var(--padding-84xl);
    padding-right: var(--padding-84xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 450px) {
  .main {
    gap: 16px;
  }
  .i-am-not {
    font-size: 21px;
  }
  .shushant-singh-rajput {
    font-size: var(--font-size-19xl);
  }
  .biography2 {
    font-size: var(--font-size-10xl);
  }
  .sushant-singh-rajput {
    font-size: 22px;
  }
  .biography1 {
    gap: 36px;
    padding-left: var(--padding-xl);
    box-sizing: border-box;
  }
  .filmography1 {
    font-size: var(--font-size-10xl);
  }
  .image-8-parent {
    gap: 18px;
  }
  .image-11-parent {
    gap: 30px;
  }
  .frame-group {
    gap: var(--gap-7xl);
  }
  .image-10-parent {
    gap: var(--gap-12xl);
  }
  .image-9-parent {
    gap: 15px;
  }
  .frame-container {
    gap: var(--gap-7xl);
  }
  .discography {
    gap: var(--gap-34xl);
  }
  .discography,
  .footer {
    padding-left: var(--padding-xl);
    padding-right: var(--padding-xl);
    box-sizing: border-box;
  }
}
